<!--
 * @Descripttion: 
 * @version: 
 * @Author: yenible
 * @Date: 2022-10-08 22:35:53
-->
<template>
  <div>
    {{title}}
  </div>
</template>

<script>
import { toRefs, reactive } from "vue";
export default {
    setup(){
        const state = reactive({
            title: 'hello kvite'
        });
        return {
            ...toRefs(state)
        }
    }
}
</script>

<style>

</style>